<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default" />

	<f:section name="Main">
		<div class="contagged-list">
            <dl>
                <f:for each="{terms}" as="term">
                    <dt><f:link.action pageUid="{settings.detailPage}" action="detail" arguments="{term: term}">{term.termMain}</f:link.action></dt>
                    <dd>{term.short}</dd>
                </f:for>
            </dl>
		</div>
	</f:section>
</div>